table td {
    position: relative;
    vertical-align: middle;
}

table td input[type="text"]{
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100% !important;
    width: 100%;
    text-align: center;
    border-radius: 0 !important;
    border: none;
    padding: 2px;
    box-sizing: border-box;
}

/*noinspection ALL*/
.message-block-root {
    position: relative;
    margin-left: 0;
}
.message-block-child {
    position: relative;
    margin-left: 29px;
}