<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>User administration</title>

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link href="../static/fa/all.css" rel="stylesheet" th:href="@{/fa/all.css}">
</head>

<div class="container">
    <h2>User administration</h2>
    <form action="#" th:action="@{/admin}" th:object="${usersTable}" method="post">
        <table class="table pre-scrollable table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <th:block th:each="user, userStat: ${usersTable.users}">
                    <tr>
                        <td contenteditable="true" th:name="|users[${userStat.index}].userName|" th:text="${user.getUserName()}"></td>
                        <td contenteditable="true" th:name="|users[${userStat.index}].displayName|" th:text="${user.getDisplayName()}"></td>
                        <td contenteditable="true" th:name="|users[${userStat.index}].email|" th:text="${user.getEmail()}"></td>
                        <td>
                            <select class="dropdown" multiple  th:name = "|users[${userStat.index}].roles|" th:size="${availableRoles.size()}">
                                <th:block th:each="role: ${availableRoles}">
                                    <option th:value="${role.getRole()}" th:text="${role.getRole()}" th:selected="${user.getRoles().contains(role)}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </form>
</div>
<!--container end.//-->

<script src="../static/jquery/jquery.js" th:src="@{/jquery/jquery.js}"></script>
<script src="../static/popper/popper.js" th:src="@{/popper/popper.js}"></script>
<script src="../static/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>