<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Guestbook</title>

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <script src="../static/js/guestbook.js" th:src="@{/js/guestbook.js}"></script>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div class="alert alert-danger" th:if="${param.loginerror}" th:text="${param.reason}"></div>
<div class="alert alert-info" th:if="${param.logout}">You have been logged out</div>
<div class="container float-right">
    <form sec:authorize="isAnonymous()" class="form-inline float-right" th:action="@{/login}" method="post">
        <label class="sr-only" for="loginName">Login name:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="loginName" name="username" placeholder="username" required>
        <label class="sr-only" for="loginPass">Password:</label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="loginPass" name="password" placeholder="password" required/>
        <input class="form-check-input mb-2 mr-sm-2" type="checkbox" name="remember-me" id="rememberMe">
        <label class="form-check-label mb-2 mr-sm-2" for="rememberMe">Remember me</label>
        <button type="submit" class="btn btn-primary mb-2">Log in</button>
        <a href="/register" class="btn btn-primary mb-2">Register</a>
    </form>
    <form sec:authorize="isAuthenticated()" class="form-inline float-right" th:action="@{/logout}" method="post">
        <label class="mb-2 mr-sm-2" th:text="'Hello, ' + ${#authentication.getPrincipal().getDisplayName()}">Hello, %username%</label>
        <a sec:authorize="hasAuthority('ADMIN')" href="/admin" class="btn btn-warning mb-2">Administration</a>
        <button class="btn btn-primary mb-2">Log out</button>
    </form>
</div>
<div class="container-fluid">
    <h2>Leave your feedback!</h2>
    <form action="#" th:action="@{/add}" th:object="${feedbackForm}" method="post">
        <div class="form-group">
            <label for="userName">Your name</label>
            <input  sec:authorize="isAnonymous()" type="text" class="form-control" id="userName"  th:field="*{name}" aria-describedby="nameHelp" maxlength="255" placeholder="Name Surname" required/>
            <input  sec:authorize="isAuthenticated()" type="text" class="form-control" id="userName" th:value="${#authentication.getPrincipal().getDisplayName()}" readonly aria-describedby="nameHelp" maxlength="255" placeholder="Name Surname" required/>
            <small id="nameHelp" class="form-text text-muted">How should we call you?</small>
            <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </div>
        <div class="form-group">
            <label for="userEmail">Your e-mail</label>
            <input sec:authorize="isAnonymous()" type="email" class="form-control" id="userEmail" th:field="*{email}" aria-describedby="emailHelp" maxlength="255" placeholder="name@service.tld" required/>
            <input sec:authorize="isAuthenticated()" type="email" class="form-control" id="userEmail" th:value="${#authentication.getPrincipal().getEmail()}" readonly aria-describedby="emailHelp" maxlength="255" placeholder="name@service.tld" required/>
            <small id="emailHelp" class="form-text text-muted">In case we want to contact you</small>
            <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        </div>
        <div class="form-group">
            <label for="feedbackField">Write your review</label>
            <textarea class="form-control" rows="3" id="feedbackField" th:field="*{feedback}" aria-describedby="feedbackHelp" maxlength="65535" placeholder="Some kind words, please :)" required></textarea>
            <small id="feedbackHelp" class="form-text text-muted">Please refrain from strong language</small>
            <div class="invalid-feedback" style="display: block" th:if="${#fields.hasErrors('feedback')}" th:errors="*{feedback}">Feedback error</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <th:block>
            <div class="alert alert-info" th:if="${!#fields.hasErrors()  && submitResultMessage != null}" th:utext="${submitResultMessage}"></div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors() && submitResultMessage != null}" th:utext="${submitResultMessage}"></div>
        </th:block>
    </form>
</div>

<div class="container-fluid">
    <h2>What others said</h2>
    <div class="row pre-scrollable">
        <div class="col-md-6">
            <th:block th:each="entry : ${guestBookEntries.entries}">
                <div th:replace="fragments/message.html
                  :: messageBlock (type='message-block-root', entry=${entry})">
                </div>
            </th:block>
        </div>
    </div>
    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${guestBookEntries.getPages()}" >
                        <a class="page-link" th:href="@{|/reviews/${pageNumber}|}" th:text="${pageNumber}">1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="../static/jquery/jquery.js" th:src="@{/jquery/jquery.js}"></script>
<script src="../static/popper/popper.js" th:src="@{/popper/popper.js}"></script>
<script src="../static/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>